.places {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 984px;
}

.places__content {
  display: grid;
  grid-gap: 48px 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.6fr 2fr 1.3fr;
  grid-template-areas:
    "title artists"
    "image text"
    "image text";
}

.places__content:not(:last-of-type) {
  margin-bottom: 80px;
}

.places__title {
  grid-area: title;
  font-family: "Inter-Black", sans-serif;
  font-size: 72px;
  line-height: 1.1;
}

.places__image-container {
  grid-area: image;
  display: flex;
  flex-direction: column;
  max-width: 460px;
  max-height: 460px;
}

.places__image {
  width: 100%;
  box-shadow: 10px 10px 25px 0px #00000080;
}

.places__image:hover {
  opacity: 0.5;
}

.places__artists {
  grid-area: artists;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.places__artists-heading {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.12em;
  color: #aaaaaa;
}

.places__artists-list {
  list-style: none;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  margin: 8px 0 0;
}

.places__description {
  display: flex;
  flex-direction: column;
  grid-area: text;
  font-size: 18px;
  line-height: 1.6;
}

.places__description p + p {
  margin-top: 25px;
}

.places__buy-piece {
  box-sizing: border-box;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0px #00000040;
  max-width: 289px;
  max-height: 48px;
  min-height: 48px;
  margin-top: 48px;
  color: white;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.places__buy-piece:hover {
  background: linear-gradient(90deg, #0278fe40 0%, #003a7b40 99.98%);
}

@media screen and (min-width: 545px) and (max-width: 1024px) {

  .places {
    max-width: 720px;
  }

  .places__content {

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .places__title {
    font-size: 42px;
    padding: 20px 0;
  }

  .places__artists-heading {
    font-size: 12px;
  }

  .places__image {
    max-width: 340px;
    max-height: 340px;
  }

  .places__description {
    font-size: 16px;
  }

  .places__content:not(:last-of-type) {
    margin-bottom: 72px;
  }

  .places__buy-piece {
    font-size: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {

  .places {
    max-width: 320px;
    margin: 0 auto ;
  }

  .places__content {
    margin: 0 16px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 30px;
    grid-template-areas:
      "title"
      "artists"
      "image"
      "text";
  }

  .places__title {
    font-size: 32px;
  }

  .places__artists-heading {
    font-size: 12px;
  }

  .places__image {
    max-width: 320px;
    max-height: 320px;
  }

  .places__description {
    font-size: 16px;
  }

  .places__content:not(:last-of-type) {
    margin-bottom: 72px;
  }

  .places__buy-piece {
    font-size: 14px;
  }
}
